################################################################################
# General flags
#-------------------------------------------------------------------------------
build --symlink_prefix=.bazel/
build --host_javabase=@nixpkgs-jdk11//:jdk
build --javabase=@nixpkgs-jdk11//:jdk

################################################################################
# rules_scala flags
#-------------------------------------------------------------------------------
build --strategy=Scalac=worker
build --worker_sandboxing

################################################################################
# Bazel caching flags
#-------------------------------------------------------------------------------
# Enable local persistent disk cache
build --disk_cache=~/.bazel/cache

# Prevent concurrent modification from poisoning the build cache
build --experimental_guard_against_concurrent_changes
################################################################################