# Ignore all IntelliJ directories (duh)
.idea
.ijwb

# Ignore build artifacts
target/

# Ignore vim swapfiles
*.swp

# Bazel output symlinks
.bazel/
bazel-AOC
bazel-bin
bazel-out
bazel-testlogs

# Ignore macos stupidity
.DS_Store
